
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

    font-family: "Lato", sans-serif;
}


/* variables */
:root{
    --clr-primary:  hsl(184, 65%, 59%);

}

a{
    text-decoration: none;
    color:black;
    
}

span{
    color: var(--clr-primary);
}
/* navbar */

.navbar{
    width: 100%;
    padding: 15px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
    box-shadow: 1px 15px 25px -25px rgba(0,0,0,0.75);

    & .logo{
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 700;
    }

    & .nav-items , .nav-icons{
        display: flex;
        align-items: center;
        justify-content:center;
        gap:10px;
        color:var(--clr-primary);
        letter-spacing:5px;
    }

    & .nav-icons{
        font-size: 25px;
    }
    & .nav-items {
        & a:hover{
            background-color:var(--clr-primary);
            display:block;
            width:100%;
        }
    }
    & .fa-bars, .fa-xmark{
        display:none;
    }

}

@media(max-width:1000px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;

        & .nav-items{
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding-top:20px;
            display: none;

            & a{
                padding: 10px 10px;
            }

        }
        & .nav-icons{
            display:none;
        }


        & .fa-bars , .fa-solid{
            display: flex;
            position: absolute;
            font-size:30px;
            color:var(--clr-primary);
            right: 10%;
            top:20px;
            &:hover{
                transform :translateY(-5%);
                transition: all 0.3s ease;
                }
    
        }
        & .fa-bars{
          z-index:2;  
        }
        & .fa-solid{
            display: none;
        }
    }
    

}



/* hero */

.main{
    background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)), url("../images/main.jpeg") center/cover no-repeat;
;
    padding-top: 150px;

    & .data{
        max-width:700px;
        margin: auto;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items:center;
        text-transform: uppercase;
        color: white;


        & h1{
            font-size: clamp(30px , 8vw , 60px);
            text-align: center;
            margin-bottom: 20px;
        }
        & p{
            font-size: 20px;
            text-align: center;
            margin-bottom: 30px;
            line-height: 1.5;
        }

        & button{
            padding:20px 40px;
            background-color: white;
            color:var(--clr-primary);
            text-decoration: none;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
            font-size:25px;
    }
}}

@media (max-width:800px){
    .main{
        background: var(--clr-primary)
    }
}


/* about us section */


.about{
    width: 100%;
    padding-bottom:30px;
    
    

    & h1{
        text-transform:uppercase;
        text-align: center;
        font-size: clamp(40px,4vw,70px);
        padding:40px 0;

    }

    & .container{
        max-width:80%;
        margin: auto;
        display: flex;
        gap:20px;


        & .left , .right{
            width: 50%;
            text-transform:uppercase;

        }

        & .left{
            background-image: url(../images/about.jpeg);
            background-size: cover;
            background-position:center ;
            

        }


        & .right{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap:20px;

            & h2{
                font-size: clamp(10px, 3vw, 30px);
            }

            & button{
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                color:white;
                background-color: var(--clr-primary)
            }
        }
    }

    @media (max-width:1000px){
        & .container{
            flex-direction: column;
            & .left , .right{
                width: 100%;

    
            }
            & .left{
                height:100vw;

        }
        }
    }
   
    
}