*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:rgb(205, 205, 205);
    font-family: Arial, sans-serif;
    padding:0 10px;

}
a{
    text-decoration: none;
}

:root{
    --primary-color :rgb(83, 49, 156) ;
    --primary-font-size : 22px;
    --primary-weight: 600;
}

/* main-heading */

.main-heading{
    text-align: center;
    margin: 100px 0px;
    font-size: 36px;
    color: var(--primary-color);
}

/* wrapper */
.wrapper{
    max-width: 800px;
    margin: 10px auto;
    background-color:white;
    border-radius:20px;
    padding:10px;
}
/* navbar */
.navbar{
    padding: 50px 0px;
    display:flex;
    justify-content:space-evenly;
    font-size: var(--primary-font-size);
    font-weight: var(--primary-weight);
    color: var(--primary-color);


}
.line{
    height:5px;
    background-color:rgb(205, 205, 205);
    border:none;

}

/* icons start */

.icons-container{
    width:100%;
    height:70px;
    margin-top:20px;
    display: flex;
    justify-content: center;    
    align-items: center;
    gap:20px;

    & .img{
        width: 50px;
    }
    & .switch{
        width: 150px;
        border-radius: 50px;
        height: 40px;
        background-color:var(--primary-color);
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        color:white;

        & .inner{
            background-color: white;
            font-size:15px;
            border-radius: 50px;
            color:var(--primary-color);

            & span{
                padding:15px;
                font-weight: bold;
                line-height:1.5;
            }
        }
    }
}
/* icons end */


/* monthly session */
.container{
    margin:60px auto;
    max-width:80%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;

    & h2{
        font-size: clamp(30px , 8vw , 70px);
        color: var(--primary-color);
        margin-bottom:20px;  
    }

    & p{
        line-height:1.5;
        font-size: calc(var(--primary-font-size) - 4px);
        text-align:justify;
    }
}

/* monthly session end */


/* progress bar start */

.progress-container{
    border:1px solid black;
    max-width:80%;
    margin: 0 auto;
    height:30px;
    border-radius:20px;
    display: flex;
    align-items: center;
    /* position: relative; */
    & .inner{
        background: linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(53, 10, 74, 1) 36%,
            rgba(83, 49, 156, 1) 100%
          );;
        width:40%;
        height:100%;
        border-radius:20px;
    }
    & .circle{
        background-color: var(--primary-color);
        width:40px;
        height:40px;
        border-radius:50%;
        margin-left:-20px;
        outline:4px solid white;
        transition:all 0.2s ease;      /* position:absolute;
        top:0px;
        left:50%; */

        &:hover{
            width:45px;
            height:45px;
            transform: translateY(-10%);
            transform: translateX(-5%);

        }

    }
}

.scale{
    max-width:80%;
    margin: 20px auto;
    height:30px;
    gap:10px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    font-weight:var(--primary-weight);
    color:rgb(162, 161, 161);
    font-size:clamp(10px , 3vw, var(--primary-font-size));

}

/* progress bar end */

/* cards section start */

.cards-container{
    max-width:95%;
    margin: 20px auto;
    display: flex;
    padding:10px;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    gap:10px;

    & .right{
        position: relative;
        & .save{
            width:101%;
            height:30px;
            background-color:var(--primary-color);
            border:none;
            position: absolute;
            top:-20px;
            border-radius: 43px 40px 10px 10px;
            -webkit-border-radius: 43px 40px 10px 10px;
            -moz-border-radius: 43px 40px 10px 10px;            bottom:0;
            color:white;
            text-align:center;
       
        }


    }
    @media (max-width:800px){
        & .right{
            margin-top: 20px;
        }
    }
    & .left, .right{
        box-shadow: 2px 2px 10px black;
        border-radius: 10px;
        min-width:199px;
        height:400px;
        display: flex;
        align-items:center;
        font-size:20px;
        color:var(--primary-color);
        flex-direction:column;
        gap:20px;
        transition:all 0.3s ease;

        padding-top:30px;
    &:hover{
        transform: scale(1.05);
    
    }

    
        & .starting{
            font-weight:bold;
            text-align:center;
            max-width:70%;

        }

        & h1{
            color:black;
            font-size: clamp(40px, 6vw, 60px);
        }
        & span{
            border-bottom: 2px solid gray;
            padding-bottom:10px;

        }
        & button{
            background-color:var(--primary-color);
            color:white;
            padding:10px;
            border:none;
            border-radius:10px;
            font-weight:bold;
            transition:all 0.1s ease;
            &:hover{
                transform: translateY(-5%);
                padding:12px;


            }
        }
    
    }

}