*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:rgb(205, 205, 205);
    font-family: Arial, sans-serif;
    padding:0 10px;

}
a{
    text-decoration: none;
}

:root{
    --primary-color :rgb(83, 49, 156) ;
    --primary-font-size : 22px;
    --primary-weight: 600;
}

/* main-heading */

.main-heading{
    text-align: center;
    margin: 100px 0px;
    font-size: 36px;
    color: var(--primary-color);
}

/* wrapper */
.wrapper{
    max-width: 800px;
    margin: 10px auto;
    background-color:white;
    border-radius:20px;
    height:1000px;
}
/* navbar */
.navbar{
    padding: 50px 0px;
    display:flex;
    justify-content:space-evenly;
    font-size: var(--primary-font-size);
    font-weight: var(--primary-weight);
    color: var(--primary-color);


}
.line{
    height:5px;
    background-color:rgb(205, 205, 205);
    border:none;

}

/* icons start */

.icons-container{
    width:100%;
    height:70px;
    margin-top:20px;
    display: flex;
    justify-content: center;    
    align-items: center;
    gap:20px;

    & .img{
        width: 50px;
    }
    & .switch{
        width: 150px;
        border-radius: 50px;
        height: 40px;
        background-color:var(--primary-color);
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        color:white;

        & .inner{
            background-color: white;
            font-size:15px;
            border-radius: 50px;
            color:var(--primary-color);

            & span{
                padding:15px;
                font-weight: bold;
                line-height:1.5;
            }
        }
    }
}
/* icons end */


/* monthly session */
.container{
    margin:100px auto;
    max-width:80%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;

    & h2{
        font-size: clamp(30px , 8vw , 70px);
        color: var(--primary-color);
        margin-bottom:20px;  
    }

    & p{
        line-height:1.5;
        font-size: calc(var(--primary-font-size) - 4px);
        text-align:justify;
    }
}

/* monthly session end */


/* progress bar start */

.progress-container{
    border:1px solid black;
    max-width:80%;
    margin: 0 auto;
    height:30px;
    border-radius:20px;
    display: flex;
    align-items: center;
    /* position: relative; */
    & .inner{
        background: linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(53, 10, 74, 1) 36%,
            rgba(83, 49, 156, 1) 100%
          );;
        width:40%;
        height:100%;
        border-radius:20px;
    }
    & .circle{
        background-color: var(--primary-color);
        width:40px;
        height:40px;
        border-radius:50%;
        margin-left:-20px;
        outline:4px solid white;
        transition:all 0.2s ease;      /* position:absolute;
        top:0px;
        left:50%; */

        &:hover{
            width:45px;
            height:45px;
            transform: translateY(-10%);
            transform: translateX(-5%);

        }

    }
}

.scale{
    max-width:80%;
    margin: 20px auto;
    height:30px;
    gap:10px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    font-weight:var(--primary-weight);
    color:rgb(162, 161, 161);
    font-size:clamp(10px , 3vw, var(--primary-font-size));

}
